.topnav {
    background-color: #c14646;
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    color: #62043b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #612168;
    color: rgb(255, 255, 255);
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .container {

    width: 500px;

    margin: 0 auto;

    padding: 20px;

    border: 1px solid #ccc;

}



label {

    display: block;

    margin-bottom: 5px;

}



input[type="text"], 

input[type="email"], 

textarea {

    width: 80%;

    padding: 10px;

    margin-bottom: 5px;

    border: 1px solid #300a0a;

}



button[type="submit"] {

    background-color: #c14646;

    color: white;

    padding: 10px 20px;

    border: none;

    cursor: pointer;

}

}

body {
  background-image:url("https://wallpapers.com/images/hd/red-texture-pictures-0cd1isola9499j86.jpg");
}

h2 {
  color: aliceblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #83225b;
}

footer{
  text-align: center;
  background-color: rgb(187, 0, 141);
  color: aliceblue;
}
